<body>
<footer>
    <img src="../../assets/Images/Storelogo.png" alt="" style="width: 150px;">
    <ul class="social_icon">
        <li><img src="../../assets/Images/facebook.png" alt="" style="width: 30px;"></li>
        <li><img src="../../assets/Images/instagram.png" alt="" style="width: 30px;"></li>
        <li><img src="../../assets/Images/twitter.png" alt="" style="width: 30px;"></li>
        <li><img src="../../assets/Images/linkedin-logo.png" alt="" style="width: 30px;"></li>
    </ul>
    <ul class="menu">
        <li><a routerLink="/Products">Home</a></li>
        <li><a routerLink="/Feedback">Feedback</a></li>
        <li><a routerLink="/Contact-us">Contact Us</a></li>
        <li><a routerLink="/About">About</a></li>
        <li><a routerLink="/Products">Products</a></li>
    </ul>
    <h6 style="color: white;">Made with <span style="color: red;">&#10084;</span> by <b>Mohamed Ashraf</b></h6>
    <p>@2023 NTG Store | All Rights Reserved</p>
</footer>
</body>