<section class="about">
    <div class="main">
        <img src="../../assets/Images/me.jpg" alt="">
        <div class="about-text">
            <h1>About Us</h1>
            <h5>Designer <span>& Full Stack Developer</span></h5>
            <p>I am a Full-Stack developer & Junior CS Student at Nile University. 
            This is a E-Commerece demo website has a simulation of shopping on real website with add to cart feature and admin controls.
             It is included in it dual users one for 
            admin and other for normal user client. I also make the website more & more interactive with webanimations
            & bootstrap. A mapping system design makes our website accessible to all users and admin. Each admin and user
            have their own Dashboard and Navigation-Bar. </p>
        </div>
    </div>
</section>
